@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.react-date-picker__wrapper {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-width: 1px;
    border-color: rgba(209, 213, 219, 1) !important;
}
